################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/PhysicsEngine
/bin/Debug/netcoreapp3.1
/Content/bin/DesktopGL/Content
/Content/obj/DesktopGL/Content
/obj
